Repository mikl0s/OBT: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint-import, eslint, eslint-svelte, isort, black, ruff

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]
default_stages: [pre-commit]

repos:
  # Frontend hooks
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && pnpm prettier --write .'
        language: system
        files: ^frontend/.*\.(svelte|js|ts|json)$
        types: [text]
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]

      - id: eslint-import
        name: eslint-import
        entry: bash -c 'cd frontend && pnpm eslint --fix --plugin import --rule import/order:error .'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        types: [text]
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]

      - id: eslint
        name: eslint
        entry: bash -c 'cd frontend && pnpm eslint --fix .'
        language: system
        files: ^frontend/.*\.(js|ts|svelte)$
        types: [text]
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]

      - id: eslint-svelte
        name: eslint-svelte
        entry: bash -c 'cd frontend && pnpm eslint --fix --plugin svelte .'
        language: system
        files: ^frontend/.*\.svelte$
        types: [text]
        pass_filenames: false
        require_serial: true
        stages: [pre-commit]

  # Backend and ollama-client hooks
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort --profile black
        language: system
        types: [python]
        files: ^(backend|ollama-client)/.*\.py$
        require_serial: true
        stages: [pre-commit]

      - id: black
        name: black
        entry: black
        language: system
        types: [python]
        files: ^(backend|ollama-client)/.*\.py$
        require_serial: true
        stages: [pre-commit]

      - id: ruff
        name: ruff
        entry: ruff check --fix --ignore=B904,B008,B007
        language: system
        types: [python]
        files: ^(backend|ollama-client)/.*\.py$
        require_serial: true
        stages: [pre-commit]

feat: improve hardware information management and storage
  backend/app/api/v1/endpoints/hardware.py
  backend/app/models/hardware.py
  backend/app/services/hardware.py
Due: isort, black, ruff

feat: add client registration UUID tracking
  backend/app/api/v1/endpoints/models.py
  backend/app/services/ollama.py
Due: isort, black, ruff

feat: update client to handle registration IDs
  ollama-client/main.py
Due: isort, black, ruff

docs: update documentation for v0.3.2
  README.md
  docs/codebaseSummary.md
  docs/currentTask.md
  docs/projectRoadmap.md
Due: none

fix: add psutil to client requirements
  ollama-client/requirements.txt
Due: none

fix: ensure psutil is installed in Windows client
  ollama-client/install.ps1
Due: none

fix: improve Windows client installation process
  ollama-client/install.ps1
Due: none

fix: ensure proper virtual environment activation in Windows client
  ollama-client/start.ps1
Due: none

fix: update client version and fix Windows shortcut
  ollama-client/install.ps1
  ollama-client/main.py
Due: isort, black, ruff

fix: improve hardware information collection in client
  ollama-client/main.py
  ollama-client/requirements.txt
Due: isort, black, ruff

fix: ensure pip 25.0.0 in virtual environment
  ollama-client/install.ps1
Due: none

fix: improve registration process and hardware info handling
  ollama-client/main.py
Due: isort, black, ruff

fix: improve Settings class and add registration_id
  ollama-client/main.py
Due: isort, black, ruff

fix: align memory units (bytes to MB) between client and server
  ollama-client/main.py
Due: isort, black, ruff

style(api): fix imports with isort
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/benchmarks.py
  backend/app/services/prompts.py
  frontend/src/lib/components/PromptModal.svelte
  frontend/src/lib/stores/benchmark.ts
  frontend/src/lib/types/benchmark.ts
  frontend/src/routes/benchmark/+page.svelte
  frontend/src/routes/models/+page.ts
  frontend/src/routes/tests/+page.ts
  ollama-client/main.py
Due: prettier, eslint-import, eslint, eslint-svelte, isort, black, ruff

feat: update frontend routes and package dependencies, improve ollama-client documentation
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/routes/+layout.svelte
  frontend/src/routes/+page.svelte
  frontend/src/routes/tests/+page.svelte
  ollama-client/README.md
Due: prettier, eslint-import, eslint, eslint-svelte

fix: improve client heartbeat tracking and markdown rendering
  backend/app/api/v1/endpoints/models.py
  backend/app/main.py
  backend/app/services/ollama.py
  frontend/.eslintrc.cjs
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/lib/components/PromptModal.svelte
  frontend/src/lib/stores/benchmark.ts
  frontend/src/routes/benchmark/+page.svelte
Due: prettier, eslint-import, eslint, eslint-svelte, isort, black, ruff

feat: Enhanced hardware info collection in ollama-client
  ollama-client/hardware_info.py
  ollama-client/install.ps1
  ollama-client/install.sh
  ollama-client/main.py
  ollama-client/requirements.txt
Due: isort, black, ruff

fix: Improve hardware detection in ollama-client
  ollama-client/hardware_info.py
  ollama-client/requirements.txt
Due: isort, black, ruff

feat: Add RAM info and multi-GPU support
  backend/app/models/hardware.py
  ollama-client/hardware_info.py
Due: isort, black, ruff

feat: Add firmware and version information
  backend/app/models/hardware.py
  ollama-client/hardware_info.py
  ollama-client/requirements.txt
Due: isort, black, ruff

fix: Add proper RAM and firmware info to client hardware info
  ollama-client/hardware_info.py
Due: isort, black, ruff

fix: Add RAM and firmware fields to HardwareInfo model
  ollama-client/main.py
Due: isort, black, ruff

fix: Update model handling in backend to fix model fetching
  backend/app/models/ollama.py
  backend/app/services/ollama.py
Due: isort, black, ruff

feat: Add hardware info diagnostic script
  ollama-client/install.ps1
  ollama-client/install.sh
  ollama-client/show_hardware_info.py
Due: isort, black, ruff

feat: Improve hardware detection on Windows
  ollama-client/hardware_info.py
  ollama-client/requirements.txt
Due: isort, black, ruff

fix: Fix datetime import and formatting
  ollama-client/hardware_info.py
Due: isort, black, ruff

feat: Improve hardware detection
  ollama-client/hardware_info.py
  ollama-client/requirements.txt
Due: isort, black, ruff

feat: Enhance cross-platform hardware detection
  ollama-client/hardware_info.py
  ollama-client/requirements.txt
Due: isort, black, ruff

docs: Update documentation for cross-platform support
  docs/codebaseSummary.md
  docs/techStack.md
Due: none

feat: enhance hardware detection with dxdiag info
  ollama-client/README.md
  ollama-client/hardware_info.py
  ollama-client/requirements.txt
Due: isort, black, ruff

fix: update RAM module info to match server schema
  ollama-client/hardware_info.py
Due: isort, black, ruff

fix: handle type errors in RAM info collection
  ollama-client/hardware_info.py
Due: isort, black, ruff

fix: improve type handling in Windows RAM info
  ollama-client/hardware_info.py
Due: isort, black, ruff

fix: improve memory type detection
  ollama-client/hardware_info.py
Due: isort, black, ruff

Fix 'onMount' linting error and format Python files
  .gitignore
  backend/app/api/v1/endpoints/models.py
  backend/app/services/hardware.py
  frontend/.eslintrc.cjs
  frontend/src/lib/stores/benchmark.ts
  frontend/src/lib/types/benchmark.ts
  frontend/src/routes/benchmark/+page.svelte
  frontend/src/routes/benchmarks/+page.svelte
  frontend/src/routes/benchmarks/BenchmarkDetails.svelte
  frontend/src/routes/benchmarks/ModelManager.svelte
Due: prettier, eslint-import, eslint, eslint-svelte, isort, black, ruff

fix: correct async function calls and improve type safety
  backend/app/services/ollama.py
  frontend/src/lib/stores/benchmark.ts
  frontend/src/lib/types/benchmark.ts
  frontend/src/routes/benchmark/+page.svelte
Due: prettier, eslint-import, eslint, eslint-svelte, isort, black, ruff
